<!-- This view (also called a "partial") is only displayed in the condition
     specified by app.js (in this case, the "#/band" URL hash)-->
<div>
  <img src="images/cat.jpg" alt="cat">




    <!-- Adds a variable "bandFilter" to the scope and updates it with the input -->
    <!-- <input ng-model="bandFilter" placeholder="Filter"/>
    <ul> -->
        <!-- bandMembers has been set on the scope by the bandMembersController -->
        <!-- Only within each repeated <li> a 'member' variable is added to the scope -->
        <!-- <li ng-repeat="member in bandMembers | filter:bandFilter">{{member}}</li>
    </ul> -->
</div>
